{{ define "content" }}



<!-- Services Section Start -->
<section id="services" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="features-text section-header text-center">
          <div>
            <h2 class="section-title">主体</h2>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <!-- Start Col -->
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="services-item text-center">
          <div class="icon">
            <i class="lni lni-users"></i>
          </div>
          <h4>社区技术委员会 </h4>
          <p>社区成员自发组织，负责推动技术社区推广和生态项目建设。<br><br></p>
        </div>
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="services-item text-center">
          <div class="icon">
            <i class="lni lni-users"></i>
          </div>
          <h4>综合委员会</h4>
          <p>由基金会成员和社区人员构成，由基金会指定。综合委员会有职责协调矿工、社区、团队三者关系。</p>
        </div>
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="services-item text-center">
          <div class="icon">
            <i class="lni lni-users"></i>
          </div>
          <h4>社区创业团队</h4>
          <p>逐渐摆脱由基金会开发团队吸纳社区个人开发者组成团队的开发方式，走向社区独立成团。</p>
        </div>
      </div>
      <!-- End Col -->

    </div>
  </div>
</section>
<!-- Services Section End -->
<!-- Cool Fetatures Section Start -->
<section id="features" class="section">
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="features-text section-header text-center">
          <div>
            <h2 class="section-title">我们的使命</h2>
            <div class="desc-text">
              <p>打造基于conflux公链的多元化生态环境，让所有有梦想的人，都有实现梦想的可能。</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row featured-bg">
      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
        <!-- Start Fetatures -->
        <div class="feature-item featured-border1">
          <div class="feature-icon float-left">
            <i class="lni lni-graduation"></i>
          </div>
          <div class="feature-info float-left">
            <h4>教育推广</h4>
            <p>由技术社区委员会组织教育推广。 </p>
          </div>
        </div>
        <!-- End Fetatures -->
      </div>
      <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
        <!-- Start Fetatures -->
        <div class="feature-item featured-border2">
          <div class="feature-icon float-left">
            <i class="lni lni-flower"></i>
          </div>
          <div class="feature-info float-left">
            <h4>生态项目孵化</h4>
            <p>开发围绕Conflux的基础设施，<br>筛选社区自发起的dapp项目。</p>
          </div>
        </div>
        <!-- End Fetatures -->
      </div>
      <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
        <!-- Start Fetatures -->
        <div class="feature-item featured-border1">
          <div class="feature-icon float-left">
            <i class="lni lni-sthethoscope"></i>
          </div>
          <div class="feature-info float-left">
            <h4>健康发展</h4>
            <p>互相监督</p>
          </div>
        </div>
        <!-- End Fetatures -->
      </div>
      <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
        <!-- Start Fetatures -->
        <div class="feature-item featured-border2">
          <div class="feature-icon float-left">
            <i class="lni lni-network"></i>
          </div>
          <div class="feature-info float-left">
            <h4>DAO自治</h4>
            <p>在碰到出现发展决策意见不统一时，<br>使用 DAO 自主投票决策。</p>
          </div>
        </div>
        <!-- End Fetatures -->
      </div>
      <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
        <!-- Start Fetatures -->
        <div class="feature-item featured-border3">
          <div class="feature-icon float-left">
            <i class="lni lni-blackboard"></i>
          </div>
          <div class="feature-info float-left">
            <h4>孵化创新项目</h4>
            <p>孵化更多来自社区的创新项目，助力生态发展。</p>
          </div>
        </div>
        <!-- End Fetatures -->
      </div>
      <!-- End Col -->

      <!-- Start Col -->
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
        <!-- Start Fetatures -->
        <div class="feature-item">
          <div class="feature-icon float-left">
            <i class="lni lni-baloon"></i>
          </div>
          <div class="feature-info float-left">
            <h4>生态建设</h4>
            <p>基于 Conflux 公链，建设多元化生态环境。</p>
          </div>
        </div>
        <!-- End Fetatures -->
      </div>
      <!-- End Col -->


    </div>
    <!-- End Row -->
  </div>
</section>
<!-- Cool Fetatures Section End -->



    <!-- Recent Showcase Section Start -->
    <section id="showcase">
      <div class="container-fluid right-position">
        <!-- Start Row -->
        <div class="row gradient-bg">
          <div class="col-lg-12">
            <div class="showcase-text section-header text-center">
              <div>
                <h2 class="section-title">委员会成员</h2>
                <div class="desc-text">
                  <p>共同的愿景，共同的信念。</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- End Row -->
        <!-- Start Row -->
        <div class="row justify-content-center showcase-area">
          <div class="col-lg-12 col-md-12 col-xs-12 pr-0">
            <div class="showcase-slider owl-carousel">
              {{ range $.Site.Data.members}}
              {{if .name}}
              <!-- Start Col -->
              <div class="item">
                <div class="screenshot-thumb" style="width:260px;height: 260px;">
                  <img  data-src="https://github.com/{{.github}}.png"  class="rounded-circle" style="width:260px;height: 260px;" class="img-fluid" alt="">
                  <div class="hover-content text-center rounded-circle" >
                    <div class="fancy-table">
                      <div class="table-cell">
                        <div class="single-text">
                          <h5>{{.name}}</h5>
                          <p class="text-tracate">{{.desc}}</p>
                        </div>
                        <div class="zoom-icon">
                          <a href="{{.link |safeURL}}"><i class="lni lni-link"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              {{end}}
              {{ end }}
            </div>
          </div>
        </div>
        <!-- End Row -->
      </div>
    </section>
    <!-- Recent Showcase Section End -->

<!-- Blog Section -->
<section id="blog" class="section">
  <!-- Container Starts -->
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-text section-header text-center">
          <div>
            <h2 class="section-title">最近动态</h2>
            <div class="desc-text">
              <p>我们正在积极建设 Conflux 多元生态。</p>
              <p>随时了解我们正在做的事情！</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row">
      <!-- Start Col -->
      {{range where .Data.Pages.ByDate "Section" "blog"}}
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item ">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <!-- <a href="single-post.html">
                <img src="img/blog/01.jpg" class="img-fluid" alt="">
              </a> -->
          </div>
          <div class="blog-item-text">
            <h3><a href="{{.Permalink}}">{{.Title}}</a></h3>
            <p>{{.Summary}}</p>
            <a href="" class="read-more">5 Min read</a>
          </div>
          <div class="author">
            <span class="date float-right"><i class="lni lni-calendar"></i><a
                href="{{.Permalink}}">{{.Date.Format "2006-01-02"}}</a></span>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
      {{end}}
    </div>
    <!-- End Row -->
  </div>
</section>
<!-- blog Section End -->

<!-- Contact Us Section -->
<section id="contact" class="section">
  <!-- Container Starts -->
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-text section-header text-center">
          <div>
            <h2 class="section-title">加入技术兴趣小组</h2>
          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row">
      <!-- Start Col -->
      <div class="col-lg-6 col-md-12 ">
        <p class="text-secondary text-justify text-lg-right text-md-left">
          旨在推广区块链各项技术的研究和实验下需求。<br>
          由社区成员提议组建，小组成员不得少于3人。<br>
          如果您有兴趣向Conflux DAO技术社区提交议案。<br>
          请在#<a class="text-secondary" href="https://github.com/Conflux-DAO-TOC/toc/issues">此开辟议题</a>#讨论。
        </p>
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-1">

      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-4 col-md-12">
        <div class="contact-img">
          <img src="img/contact/01.png" class="img-fluid" alt="">
        </div>
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-1">
      </div>
      <!-- End Col -->

    </div>
    <!-- End Row -->
  </div>
</section>
<!-- Contact Us Section End -->
{{ end }}