 <!-- Footer Area Start -->
 <section id="footer-Content">
  <div class="container">
    <!-- Start Row -->
    <div class="row">

    <!-- Start Col -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">

        <div class="footer-logo">
         <img src="{{"img/logo.png" | relLangURL}}" alt="">
        </div>
      </div>
       <!-- End Col -->
        <!-- Start Col -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
        <div class="widget">
          <h3 class="block-title">我们(委员会)</h3>
          <ul class="menu">
            <li><a href="{{"/about/toc.html" |relLangURL}}">  - 关于我们</a></li>
            <li><a href="{{"/blog.html" |relLangURL}}">- 动态</a></li>
            <li><a href="https://github.com/Conflux-DAO-TOC/">- Github</a></li>
          </ul>
        </div>
      </div>
       <!-- End Col -->
        <!-- Start Col -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
        <div class="widget">
          <h3 class="block-title">Conflux 基金会</h3>
          <ul class="menu">
            <li><a href="https://confluxnetwork.org/zh/about/">  - 关于 Conflux 基金会</a></li>
            <li><a href="https://confluxnetwork.org/zh/team/">- 团队成员</a></li>
          </ul>
        </div>
      </div>
       <!-- End Col -->
        <!-- Start Col -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
        <div class="widget">
          <h3 class="block-title">更多链接</h3>
          <ul class="menu">
            <li><a href="https://weibo.com/confluxchain">  - Conflux中文社区</a></li>
            <li><a href="https://github.com/conflux-chain">- Conflux 开发者</a></li>
            <li><a href="https://bounty.conflux-chain.org/">- Conflux 赏金任务</a></li>
            <li><a href="http://www.confluxscan.io/">- Conflux 浏览器</a></li>
          </ul>
        </div>
      </div>
       <!-- End Col -->
        <!-- Start Col -->
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
        <div class="widget">
          <h3 class="block-title">参与</h3>
          <p>Conflux DAO技术社区的技术监督委员会(TOC)已经发出了呼吁，希望招募更多的贡献者和专家，帮助评估潜在的项目，并为Conflux DAO技术社区的SIG和工作组做出贡献。以TOC作为一个开源项目，TOC成员作为维护者的使命，我们呼吁新的TOC贡献者 </p>
          <div class="subscribe-area">
            <a class="btn btn-border-filled" href="https://github.com/Conflux-DAO-TOC/toc/issues">我要参与</a>
          </div>
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Row -->
  </div>
  <!-- Copyright Start  -->

  <div class="copyright">
    <div class="container">
      <!-- Star Row -->
      <div class="row">
        <div class="col-md-12">
          <div class="site-info text-center">
             <p>Conflux DAO TOC</p>
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
  </div>
<!-- Copyright End -->
</section>
<!-- Footer area End -->