 <!-- jQuery first, then Tether, then Bootstrap JS. -->
 <script src="{{"js/jquery.min.js" | relLangURL}}"></script>
 <script src="{{"js/popper.min.js" | relLangURL}}"></script>
 <script src="{{"js/bootstrap.min.js" | relLangURL}}"></script>
 <script src="{{"js/owl.carousel.js" | relLangURL}}"></script>
 <script src="{{"js/jquery.nav.js" | relLangURL}}"></script>
 <script src="{{"js/jquery.easing.min.js" | relLangURL}}"></script>
 <script src="{{"js/nivo-lightbox.js" | relLangURL}}"></script>
 <script src="{{"js/main.js" | relLangURL}}"></script>